body {
  background-color: #3B4CCA;
  overflow-x: hidden;
}

h1 {
  color: #FFDE00;
  cursor: default;
}

.list-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.list-group-item {
  background-color: #3B4CCA;
  border: transparent;
  border-color: #FFFFFF;
  padding: 5px;
}

.btn {
  width: 80%;
  background-color: #FFDE00;
  color: #3B4CCA;
}

.btn:hover {
  background-color: #CC0000;
  color: #FFDE00;
}

.container {
  text-align: center;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rbga(0,0,0,0.5);
  z-index: 999; 
  display: grid;
  text-align: center;
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
}

.modal {
  margin: auto;
  box-sizing: border-box;
  background: #2E4F4F;
  max-width: 700px;
  border-radius: 10px;
  color: #CBE4DE;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 360px;
  padding: 15px;
}

.modal-close {
  float: right;
  /*-webkit-appearance: none;*/
  border: 0;
  background: none;
  color: #CBE4DE;
}

.modal-header {
  background-color: #0E8388;
  border: transparent;
}

.modal-body {
  background-color: #2E4F4F;
  border: transparent;
}

.modal h5 {
  margin-top: 0;
  font-size: 24px;
  text-transform: capitalize;
}

.modal p {
  margin-bottom: 0;
  font-size: 18px;
}

li {
  list-style: none;
}

@media all and (max-width: 500px) {
  .list-group {
    grid-template-columns: 1fr;
  }

  .modal {
    width: 70%;
    height: 390px;
    padding: 7%;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .list-group {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .list-group {
    grid-gap: 10px;
  }

  .list-group-item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}