.button {
  background-color: #FFCC00;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 40%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
  
}

.container {
  text-align: center;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
  outline: 0;
  background: #FFCC00;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 60%;
  max-width: 700px;
  text-align: left;
  height: 60%;
  border-radius: 10px;
}

.modal-close {
  float: right;
  /*-webkit-appearance: none;*/
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
  font-size: 24px;
  text-transform: capitalize;
}

.modal p {
  margin-bottom: 0;
  font-size: 18px;
}

li {
  list-style: none;
}

.img {
  width: 30%;
}

@media only screen and (min-width: 310px) and (max-width: 480px){
  .button {
    width: 80%;
  }
  .img {
    width: 60%;
    margin: auto;
  }
}